<html>
<head>
	<title>Game</title>
	<a  style='margin-left: 70px;' href='/home'>Home</a>
    <a href='/play' style='margin-left: 25px;'>Play</a>
    <a   style='margin-left: 25px;'href='/show'>My Stats</a>
    <a href='/leaderboard' style='margin-left: 25px;'>Leaderboard</a>
    <a href='/logout' style='margin-left: 700px;'>Logout</a>
</head>
<body>
	<p style='margin-left: 70px;'>Your Gold: {{user.gold}}</p>
	<div style='outline: thin solid black; height: 200px; width: 300px; display: inline-block; margin-left: 70px; margin-bottom: 30px;'>
		<form action='/process' method="POST">
			{% csrf_token %}
			<input type='hidden' name='building' value='farm'>
			<input type='submit' value='Go to Farm'>
		</form>
	</div>

	<div style='outline: thin solid black; height: 200px; width: 300px; display: inline-block; margin-left: 70px;'>
		<form action='/process' method="POST">
			{% csrf_token %}
			<input type='hidden' name='building' value='cave'>
			<input type='submit' value='Go to Cave'>
		</form>
	</div>

	<div style='outline: thin solid black; height: 200px; width: 300px; display: inline-block; margin-left: 70px;'>
		<form action='/process' method="POST">
			{% csrf_token %}
			<input type='hidden' name='building' value='castle'>
			<input type='submit' value='Go to Castle'>
		</form>
	</div>

	<h3 style='margin-left: 70px;'>Activities</h3>
	<div style='overflow:auto; outline: thin solid black; height: 400px; width: 1050px; margin-left: 70px;'>
		{% for activity in activities %}
			<div>{{activity.description}}, {{activity.created_at}}</div>
		{% endfor %}
	</div>
</body>
</html>